Loaded the csv into the cluster.
Below we are creating dataframes for each csv file.

In [0]:
df1 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/categories.csv")
df2 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/customers.csv")
df3 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/employees.csv")
df4 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/employee_territories.csv")
df5 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/order_details.csv")
df6 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/orders.csv")
df7 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/products.csv")
df8 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/regions.csv")
df9 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/shippers.csv")
df10 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/suppliers.csv")
df11 = spark.read.format("csv")\
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ',') \
  .load("dbfs:/FileStore/shared_uploads/shreekanthbk22@gmail.com/territories.csv")

Below we are registering dataframes as tables.

In [0]:
df1.createOrReplaceTempView("categories")
df2.createOrReplaceTempView("customers")
df3.createOrReplaceTempView("employees")
df4.createOrReplaceTempView("employee_territories")
df5.createOrReplaceTempView("order_details")
df6.createOrReplaceTempView("orders")
df7.createOrReplaceTempView("products")
df8.createOrReplaceTempView("regions")
df9.createOrReplaceTempView("shippers")
df10.createOrReplaceTempView("suppliers")
df11.createOrReplaceTempView("territories")

SECTION 2<br/>
i. Write a query to get Product list (id, name, unit price) where the unit price
products cost less than $20. Filter out discontinued products.

In [0]:
sqlContext.sql(
  "SELECT productid, productname, unitprice \
  from products \
  where unitprice < 20 and discontinued = 0;").show()

ii. Make a listing of all categories of products in the order of decreasing
number of products in that category. Filter out discontinued products.

In [0]:
sqlContext.sql(
  "SELECT categoryName, count(productid) AS no_of_products \
  FROM categories \
  LEFT JOIN products \
  ON categories.categoryid = products.categoryid \
  WHERE discontinued = 0 \
  Group By categoryname \
  ORDER BY no_of_products DESC;").show()

iii. Make a list of customers who have not made any orders in the months of
July - September.

In [0]:
sqlContext.sql( 
  "SELECT distinct contactname as customers\
  FROM customers\
  INNER JOIN orders\
  ON customers.customerid = orders.customerid\
  WHERE orders.customerid NOT IN (SELECT orders.customerid \
                                  from orders\
                                  where EXTRACT(MONTH FROM OrderDate) BETWEEN 7 AND 9);").show();

SECTION 3<br/>
i. Write a query to get Product list (id, name, unit price) where products cost
between $15 and $25

In [0]:
from pyspark.sql.functions import col
df7.select('productid','productname','unitprice') \
   .filter(col('unitprice').between(15,25)).show()

ii. Write a query to get Product list (name, unit price) of ten most expensive
products.

In [0]:
df7.select('productid','productname','unitprice') \
   .orderBy(col('unitprice'), ascending=False)\
   .limit(10).show()

iii. Write a query to get Product list (name, unit price) whose prices are above
the average price.

In [0]:
from pyspark.sql.functions import avg
average_UnitPrice = df7.select(avg(df7.UnitPrice)).collect()[0][0]

df7.select(df7.ProductName,df7.UnitPrice).filter(df7.UnitPrice > average_UnitPrice).show()

iv. Write a query to get count of current and discontinued products.

In [0]:
from pyspark.sql.functions import count

df = df7.groupby(df7.Discontinued).count()

discontinued_products = df.collect()[0][1]
current_products = df.collect()[1][1]

print("discontinued_products = ", discontinued_products)
print("current_products = ", current_products)

v. Give the names of employees who sell the products of more than 7
suppliers

In [0]:
#just for naming convention
df_products = df7
df_order_details = df5
df_orders = df6
df_employees = df3

#joining tables (employees, orders, order_details and products)
df_join = df_employees.join(df_orders, on=['EmployeeID'],how='inner')\
        .join(df_order_details, on = ['OrderID'],how="inner")\
        .join(df_products,on=['ProductID'], how='inner')

#selecting the distinct suppliers for each employee
df_group = df_join.select(df_employees.EmployeeID, df_products.SupplierID)\
              .groupby(df_employees.EmployeeID, df_products.SupplierID )\
              .count()

#counting the number suppliers
df_group.select(df_employees.EmployeeID)\
   .groupBy(df_employees.EmployeeID)\
   .count()\
   .filter(col('count')>7).show()